<a href="https://colab.research.google.com/github/sreyanwika/PythonBasic/blob/main/PythonBasic/practise_prob.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#module 2@10 june

In [ ]:
#lists
#accessing lists
my_bag=[1,2,3,4,5]
print(my_bag[1])

2

In [ ]:
#accessing nested lists
my_bag=['happp','mommm',[1,4,7,8]]
print(my_bag[1][2])
print(my_bag[2][2])

m
7

In [ ]:
#negative indexing
my_bag=['happp','mommm',[1,4,7,8]]
print(my_bag[0][-1])
print(my_bag[-1])

p
[1, 4, 7, 8]

In [ ]:
#slicing ele
my_tug=['p','a','r','t','n','e','r']
print(my_tug[2:4])
print(my_tug[:4])
print(my_tug[:-4])
print(my_tug[4:])
print(my_tug[:])

['r', 't']
['p', 'a', 'r', 't']
['p', 'a', 'r']
['n', 'e', 'r']
['p', 'a', 'r', 't', 'n', 'e', 'r']

In [ ]:
#updating elements with slicing
my_tug=['p','a','r','t','n','e','r']
my_tug[2:4]=4,5
print(my_tug)
my_tug[0]='v'
print(my_tug)

['p', 'a', 4, 5, 'n', 'e', 'r']
['v', 'a', 4, 5, 'n', 'e', 'r']

In [ ]:
#adding ele to list
#adding single item

In [ ]:
my_tug=['p','a','r','t','n','e','r']
my_tug.append(9)
print(my_tug)

['p', 'a', 'r', 't', 'n', 'e', 'r', 9]

In [ ]:
#adding mul ele
my_tug=['p','a','r','t','n','e','r']
my_tug.extend([7,8,9])
print(my_tug)

['p', 'a', 'r', 't', 'n', 'e', 'r', 7, 8, 9]

In [ ]:
#concatenate list
my_tug=['p','a','r','t','n','e','r']
my_tug+[11,12,13]

['p', 'a', 'r', 't', 'n', 'e', 'r', 11, 12, 13]

In [ ]:
#repeating listtt
['s']*3

['s', 's', 's']

In [ ]:
#inserting ele
my_tug=['p','a','r','t','n','e','r']
my_tug.insert(4,9)
print(my_tug)
my_tug[3:3]=[6,7,8]
print(my_tug)

['p', 'a', 'r', 't', 9, 'n', 'e', 'r']
['p', 'a', 'r', 6, 7, 8, 't', 9, 'n', 'e', 'r']

In [ ]:
#deleting ele
my_tug=['p','a','r','t','n','e','r']
del my_tug[3]
print(my_tug)
del my_tug[3:5]
print(my_tug)
del my_tug[0:7]
print(my_tug)
my_tug=['p','a','r','t','n','e','r']
my_tug.remove('p')
print(my_tug)

['p', 'a', 'r', 'n', 'e', 'r']
['p', 'a', 'r', 'r']
[]
['a', 'r', 't', 'n', 'e', 'r']

In [ ]:
my_tug=['p','a','r','t','n','e','r']
my_tug.pop(4)
print(my_tug)

['p', 'a', 'r', 't', 'e', 'r']

In [ ]:
my_tug=['p','a','r','t','n','e','r']
my_tug.clear()
print(my_tug)

[]

In [ ]:
#deleting usng empty list
my_tug=['p','a','r','t','n','e','r']
my_tug[4:]=[]
print(my_tug)
my_tug=['p','a','r','t','n','e','r']
my_tug[:4]=[]
print(my_tug)

['p', 'a', 'r', 't']
['n', 'e', 'r']

In [ ]:
#iterating ele by using loop
for k in (2,4,5,6):
  print(k)
for j in 'apple':
   print(j)

2
4
5
6
a
p
p
l
e

In [ ]:
for l in range(0,11):
  print(l)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for k in range(10,2,-2):
     print(k)

10
8
6
4

In [ ]:
for k in range(10,-1,-2):
     print(k)

10
8
6
4
2
0

In [ ]:
#finding sum of ele in d listt
s=[2,3,4]
sum=0
for k in s:
    sum=sum+k
print(sum)

9

In [ ]:
s=[]
sum=0
size=int(input('enter the num:'))
for i in range(0,size):
     ent=int(input('enter the num:'))
     s.append(ent)
     sum=sum+ent
print(sum)
print(s)

enter the num:3
enter the num:5
5
[5]
enter the num:4
9
[5, 4]
enter the num:6
15
[5, 4, 6]

In [ ]:
s=eval(input('enter d num:'))
l=[]
sum=0
for i in s:
  l.append(i)
  sum=sum+i
print(l)
print(sum)

enter d num:1,2,3,4,5
[1, 2, 3, 4, 5]
15

In [ ]:
#finding sum and avg
s=[]
sum=0
size=int(input('enter the num:'))
for i in range(0,size):
     ent=int(input('enter the num:'))
     s.append(ent)
     sum=sum+ent
     avg=sum/size
print(avg)
print(sum)
print(s)

enter the num:3
enter the num:5
enter the num:4
enter the num:6
5.0
15
[5, 4, 6]

In [ ]:
s=[]
sum=0
size=int(input('enter the num:'))
for i in range(0,size):
     ent=int(input('enter the num:'))
     s.append(ent)
     sum=sum+ent
     avg=sum/len(s)
print(avg)
print(sum)
print(s)

enter the num:3
enter the num:5
enter the num:4
enter the num:6
5.0
15
[5, 4, 6]

In [ ]:
#entr some integer and store onlyy 1 to 100 in other list
l=[]
l1=[]
size=int(input('d num:'))
for i in range(0,size):
   l.append(i)
print(l)
for k in l:
   if k>=1 and k<=100:
        l1.append(k)
print(l1)

d num:110
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
s=[]
l=eval(input('enter d age:'))
for i in l:
  s.append(i)
  print(s)
for i in s:
  print(i)
for i in range(len(s)):
    if s[i]>40 and s[i]<50:
     s[i]="mid"
for i in s:
       print(i)

enter d age:44,50,66,54
[44]
[44, 50]
[44, 50, 66]
[44, 50, 66, 54]
44
50
66
54
mid
50
66
54

In [ ]:
listt=[2,6,7,8,95]
print(listt.index(95))
listt.sort()
print(listt)
print(listt.count(6))
listt.reverse()
print(listt)

4
[2, 6, 7, 8, 95]
1
[95, 8, 7, 6, 2]

In [ ]:
#soeting ele
cars=['benz','xerrori','innova']
cars.sort()
print(cars)

['benz', 'innova', 'xerrori']

In [ ]:
cars=['benz','xerrori','innova']
y=sorted(cars,reverse=True)
print(y)

['xerrori', 'innova', 'benz']

In [ ]:
#assigning and copying lists
list1=[20,30,40,50]
list2=list1
list1[3]=4
print(list1)
print(list2)

[20, 30, 40, 4]
[20, 30, 40, 4]

In [ ]:
list1=[20,30,40,50]
list2=list(list1)
list1[3]=4
print(list1)
print(list2)

[20, 30, 40, 4]
[20, 30, 40, 50]

In [ ]:
v=[]
v1=[]
sum=0
sum1=0
size=int(input('enter d sie:'))
size1=int(input('enter d sie:'))
for i in range(0,size):
      num=int(input('enter d :'))
      v.append(num)
      sum=sum+num
      print(sum)
      print(v)
for k in range(0,size1):
      num1=int(input('enter d :'))
      v1.append(num1)
      sum1=sum1+num1
      print(sum1)
      print(v1)
if len(v1)==len(v):
      print('len z equall')
if sum1==sum:
      print('d sum z equall')
for i in v:
   for j in v1:
       if i==j:
         print('the ele z sme',i)

enter d sie:3
enter d sie:4
enter d :1
1
[1]
enter d :2
3
[1, 2]
enter d :3
6
[1, 2, 3]
enter d :5
5
[5]
enter d :2
7
[5, 2]
enter d :8
15
[5, 2, 8]
enter d :7
22
[5, 2, 8, 7]
the ele z sme 2

In [ ]:
import random
print(random.randint(0,8))

In [ ]:
import random
print("give input 1 to scroll a die if it z prsn 1 chance or give input 2 if it z prsn 2 chance")
count=0
count1=0 
a=int(input('enter d num:'))
if a==1:
   die1=print(random.randint(1,6))
   print(die1)
per=die1
count=count+per
while die1==1 and die1==6:
     die1=print(random.randint(1,6))
     per=die1
     count=count+per
     if die1!=1 and die1!=6:
       break

give input 1 to scroll a die if it z prsn 1 chance or give input 2 if it z prsn 2 chance
enter d num:1
2
None

TypeError: ignored

In [ ]:
import random
you=input("'r' is for rockk,'p' is forr paperr,'s'is forr scissors ")
per2=random.choice(['p','r','s'])
if you==per2:
  print("tie")
  print('playy oncee againn')
else:
  print("you and per 2 or nottt tie")
if (you=='r' and per2=='s') or (you=='p' and per2=='r') or (you=='s' and per2=='p'):
                    print('per 1 wonnn')
elif (you==per2):
                    print('play once againn')
else:
                    print('per2 wonn')
while(1):
 if you==per2:
                    you=input("'r' is for rockk,'p' is forr paperr,'s'is forr scissors ")
                    per2=random.choice(['p','r','s'])
 else:
                    break
if (you=='r' and per2=='s') or (you=='p' and per2=='r') or (you=='s' and per2=='p'):
                    print('per 1 wonnn')  
else:
                    print('per2 wonn')

'r' is for rockk,'p' is forr paperr,'s'is forr scissors r
you and per 2 or nottt tie
per2 wonn
per2 wonn

In [ ]:
import random
print("rock paper and scissor game,play and have funn")
you=input("choose what you want:'r' is for rockk,'p' is forr paperr,'s'is forr scissors ")
per2=random.choice(['p','r','s'])
while(1):
        if you==per2:
            print('you and the person2 r tie')
            print('play once againn')
            you=input("'r' is for rockk,'p' is forr paperr,'s'is forr scissors ")
            per2=random.choice(['p','r','s'])
        else:
            break
if (you=='r' and per2=='s') or (you=='p' and per2=='r') or (you=='s' and per2=='p'):
            print('per 1 wonnn') 
else:
            print('per2 wonn')

rock paper and scissor game,play and have funn
choose what you want:'r' is for rockk,'p' is forr paperr,'s'is forr scissors p
you and the person2 r tie
play once againn
'r' is for rockk,'p' is forr paperr,'s'is forr scissors s
per2 wonn

In [ ]:
#for counting no.of a s
v=[]
sum=0
se=int(input('enter s num:'))
for i in range(se):
  s=input('enter d nme:')
  v.append(s)
  print(v)
for i in v:
  for j in i:
      if j=='a':
         sum=sum+1
         print(sum)

enter s num:3
enter d nme:'shyaam'
["'shyaam'"]
enter d nme:'nikhiiilaaa'
["'shyaam'", "'nikhiiilaaa'"]
enter d nme:'raaam'
["'shyaam'", "'nikhiiilaaa'", "'raaam'"]
1
2
3
4
5
6
7
8

In [ ]:
#searching for x ele
v=[]
sum=0
se=int(input('enter s num:'))
for i in range(se):
  s=input('enter d nme:')
  v.append(s)
  print(v)
for i in v:
      if i=='x':
        print('elementtt fnddd')
      else:
        print('nott foundd')

enter s num:3
enter d nme:'a'
["'a'"]
enter d nme:'n'
["'a'", "'n'"]
enter d nme:'t'
["'a'", "'n'", "'t'"]
nott foundd
nott foundd
nott foundd

In [ ]:
s=[]
while(1):
  p=input("enter d nme:")
  if p!='AAA':
    s.append(p)
  else:
    break
  print(s)
v=sorted(s)
print(v)

enter d nme:"asss"
['"asss"']
['"asss"']
enter d nme:"ammm"
['"asss"', '"ammm"']
['"ammm"', '"asss"']
enter d nme:"alllll"
['"asss"', '"ammm"', '"alllll"']
['"alllll"', '"ammm"', '"asss"']
enter d nme:AAA

In [ ]:
[x*x for x in range(1,10) if x%2==1]

[1, 9, 25, 49, 81]

In [ ]:
y=[-1,2,3,4,1,-19]
[x for x in y if x>0]

[2, 3, 4, 1]

In [ ]:
[x**2 for x in range(0,5)]

[0, 1, 4, 9, 16]

In [ ]:
[ord(x) for x in 'hello']

[104, 101, 108, 108, 111]

In [ ]:
v='sreya'
h='a','e','i','o','u'
[x for x in v if x in h]

['e', 'a']

In [ ]:
s=[]
while(1):
  x=int(input('enter d num:'))
  if x!=000:
    s.append(x)
  else:
    break
square=[x**2 for x in s]
print(square)
pos=[x for x in s if x>0]
print(pos)

enter d num:1
enter d num:3
enter d num:-2
enter d num:-6
enter d num:000
[1, 9, 4, 36]
[1, 3]

In [ ]:
s=[]
while(1):
  x=int(input('enter d num:'))
  if x!=000:
    s.append(x)
  else:
    break
even=[x for x in s if x%2==0]
print(even)
odd=[x for x in s if x%2!=0]
print(odd)

enter d num:13
enter d num:1
enter d num:2
enter d num:68
enter d num:000
[2, 68]
[13, 1]

In [ ]:
clas=[[11,12,13],[1,2,3]]
sum=0
for i in clas[0]:
   sum=sum+i
print(sum)
avg=sum/len(clas[0])
print(avg)

36
12.0

In [ ]:
#doubtttt
clas=[[11,12,13],[1,2,3]]
for x in range(0,2):
  sum=0
  for i in range(0,len(clas)):
     sum=sum+clas[i][x]
     print(sum)

11
12
12
14

In [ ]:
a=eval(input('enter d ele:'))
b=eval(input('enter d ele:'))
sum=[[a[i][j]+b[i][j] for j in range(a[0])]for i in range(a)]
print(sum)

enter d ele:1,2
enter d ele:3,4

TypeError: ignored

In [ ]:
t=10,
print(t)
print(type(t))

(10,)
<class 'tuple'>

In [ ]:
t=(10,)
print(t)
print(type(t))

(10,)
<class 'tuple'>

In [ ]:
#creating a tuple frm d list
t=[1,2,3]
v=tuple(t)
print(v)

(1, 2, 3)

In [ ]:
tp=tuple(range(4,9,2))
print(tp)

(4, 6, 8)

In [ ]:
tp=('p','e','r','m','i','t')
print(tp[0])
print(tp[3.0])

p

TypeError: ignored

In [ ]:
tp=('mouse',[2,3,4],'hyyyy')
print(tp[1][0])
print(type(tp))

2
<class 'tuple'>

In [ ]:
tp=('mouse',[2,3,4],'hyyyy')
print(tp[-2])

[2, 3, 4]

In [ ]:
tp=('p','i','n','k','y','y')
print(tp[4:])
print(tp[::2])
print(tp[:4])

('y', 'y')
('p', 'n', 'y')
('p', 'i', 'n', 'k')

In [ ]:
tp=('p','i','n','k','y','y')
del tp
print(tp)

NameError: ignored

In [ ]:
tp=('p','i','n','k','y','y')
'a' not in tp
'y' in tp

True

In [ ]:
s=eval(input('enter d ele()'))
print(s)

enter d ele()(2,3,4,5)
(2, 3, 4, 5)

In [ ]:
sum=0
s=eval(input('enter d ele()'))
print(s)
for i in s:
     sum=sum+i
     print(sum)
avg=sum/len(s)
print(avg)
print(max(s))
print(min(s))

enter d ele()(3,9,6,8)
(3, 9, 6, 8)
3
12
18
26
6.5
9
3

In [ ]:
tp='sreyaa',99,98,99
nme,m1,m2,m3=tp
print(nme,'hve been scored',m1+m2+m3)
print(nme,'hve been scored',m1,m2,m3)

sreyaa hve been scored 296
sreyaa hve been scored 99 98 99

In [ ]:
#adding ele
tp=(3,4,5,6,7)
tp=tp+(9,)
print(tp)
tp=(3,4,5,6,7)
tp=tp[:2]+(4,5,6)+tp[2:]
print(tp)
tp=(3,4,5,6,7)
tp=tp[2:]+(4,5,6)+tp[2:]
print(tp)
tp=(3,4,5,6,7)
tp=list(tp)
tp.append(18)
tp=tuple(tp)
print(tp)

(3, 4, 5, 6, 7, 9)
(3, 4, 4, 5, 6, 5, 6, 7)
(5, 6, 7, 4, 5, 6, 5, 6, 7)
(3, 4, 5, 6, 7, 18)

In [ ]:
#converting tup to string
tp=('p','i','n','k','y','y')
st=".join(tp)"
print(type(st))

<class 'str'>

In [ ]:
#removingg elee
t=(1,2,3,4,5,6,7)
t=t[:3]+t[5:]
print(t)

(1, 2, 3, 6, 7)

In [ ]:
t=(1,2,3,4,5,6,7)
t=list(t)
t.remove(3)
t=tuple(t)
print(t)

(1, 2, 4, 5, 6, 7)

In [ ]:
import operator
srted=[]
sf=[]
sfd=[]
s=eval(input('enter d ele()'))
print(s)
s=list(s)
print(s)
srted=sorted(s)
print(srted)
sf=sorted(s,key=operator.itemgetter(1))
print(sf)
sfd=sorted(s,key=operator.itemgetter(1),reverse=True)
print(sfd)

enter d ele()(('mangoooo',66),('banana',55),('cherryyyy',67))
(('mangoooo', 66), ('banana', 55), ('cherryyyy', 67))
[('mangoooo', 66), ('banana', 55), ('cherryyyy', 67)]
[('banana', 55), ('cherryyyy', 67), ('mangoooo', 66)]
[('banana', 55), ('mangoooo', 66), ('cherryyyy', 67)]
[('cherryyyy', 67), ('mangoooo', 66), ('banana', 55)]

In [ ]:
t=()
t=eval(input('enter d valuee;'))
print(t)

enter d valuee;(2,3,4,5)
(2, 3, 4, 5)

In [ ]:
t=[]
while(1):
  s=int(input('enter d age:'))
  if s<0:
    break
  else:
      t.append(s)
t=tuple(t)
print(t)

enter d age:44
enter d age:55
enter d age:66
enter d age:-5
(44, 55, 66)

#dictt

In [ ]:
t=[23,45,67,78,56,77,34]
day=input('give any frm -sun,mom,tue,wed,thur,fri,sat:')
if day=='sun':
  dynme='sunday'
  temp=t[0]
elif day=='mon':
  dynme='monday'
  temp=t[1]
elif day=='tue':
  dynme='tuesday'
  temp=t[2]
elif day=='wed':
  dynme='wednesday'
  temp=t[3]
elif day=='thur':
  dynme='thursday'
  temp=t[4]
elif day=='fri':
  dynme='friday'
  temp=t[5]
elif day=='sat':
  dynme='saturday'
  temp=t[6]
else:
  print('nott validdd')
print('the avg temp of {} is {}'.format(dynme,temp))

give any frm -sun,mom,tue,wed,thur,fri,sat:'sat'
nott validdd
the avg temp of {} is {}

#mod 3
functions

In [ ]:
def avg(n1,n2,n3):
    return (n1+n2+n3)/3
result=avg(10,20,30)
print(result)

20.0

In [ ]:
def displayhello():
   print('hello world')
displayhello()

hello world

#returning multiple values

In [ ]:
def maxmin(numlist):
  return max(numlist),min(numlist)
marks=[1,5,7,8]
hl=maxmin(marks)
print('the max is {}and min is {}'.format(hl[0],hl[1]))

the max is 8and min is 1

In [ ]:
#actual and formal parameters
def ordered(n1,n2):
     return (n1<n2)
num1=int(input('enter ur age:'))
num2=int(input('enter d bro age:'))
if ordered(num1,num2):
    print('your bro z elder')
elif ordered(num2,num1):
    print('ur bro z youngerr')
else:
    print('u r twinss')

enter ur age:12
enter d bro age:12
u r twinss

In [ ]:
n=int(input('enter :'))
sum=0
for i in range(0,n):
       s=int(input('enter :'))
       sum=sum+s
       print(sum)

enter :2
enter :11
11
enter :122
133

In [ ]:
#mutable arguments
def change(nums):
  for k in range(0,len(nums)):
    if nums[k]<0:
      nums[k]=0
  return (nums)
nums=[-1,2,5,-7,9,-5]
print(nums)
t=change(nums)
print(t)
print(nums)

[-1, 2, 5, -7, 9, -5]
[0, 2, 5, 0, 9, 0]
[0, 2, 5, 0, 9, 0]

In [ ]:
#variable scope
def func1():
  n=11
  print(n)
def func2():
  n=13
  print(n)
  func1()
  print(n)
func2()

13
11
13

In [ ]:
#global variable
max=10
def func1():
  print(max)
def func2():
  max=2
  print(max)
  func1()
  print(max)
func2()

2
10
2

In [ ]:
2+'3'

TypeError: ignored

In [ ]:
st[0]

NameError: ignored

In [ ]:
n=int(input('enter d num:'))
for i in range(1,11):
  s=n*i
  print('{}*{}={}'.format(n,i,s))

enter d num:5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [ ]:
student={"name":"emma","class":7,"marks":5}
m=student.get('marks')
print(m)

5

In [ ]:
my_list=['p','y','t','h','o','n','p','r','o']
my_list[:6]

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
def cal(a,b):
  output=a*b
  print(output)
cal(4,4)

16

In [ ]:
a=[1,2,3,4,5]
print(a.pop(0))
print(a.pop(2))

1
4